venv
__pycache__
practices/prac1/video
practices/prac2/mdp.py
practices/prac5/_vizdoom.ini
practices/prac5/wandb
practices/prac7/1_spo
practices/prac7/2_ppo
practices/prac7/3_ppo-non-shared
practices/prac7/4_ppo-gae
practices/prac7/wandb
practices/prac7/_vizdoom.ini
practices/prac8/Bibtex
practices/prac8/bib.zip
homeworks/hw1/sumo_rl
practices/prac10/model
practices/prac10/runs
practices/prac10/wandb
practices/prac10/data_*
practices/prac10/output.png
practices/prac11/wandb
homeworks/hw2/ml-agents-develop
homeworks/hw2/venv
